{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.book_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.book_list'|trans }}</h1>
    {% if books is defined and books|length %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'label.id'|trans }}</th>
                <th>{{ 'label.name'|trans }}</th>
                <th>{{ 'label.blurb'|trans }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for book in books %}
                <tr>
                    <td>{{ book.id }}</td>
                    <td>{{ book.name }}</td>
                    <td>{{ book.blurb }}</td>
                    <td>
                        <a href="{{ url('book_show', {id: book.id}) }}" title="{{ 'action.view'|trans }}">
                            {{ 'action.view'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}