{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.book_details'|trans({'%id%': book.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.book_details'|trans({'%id%': book.id|default('')}) }}</h1>
    {% if book is defined and book|length %}
       <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ book.id }}</dd>
            <dt>{{ 'label.name'|trans }}</dt>
            <dd>{{ book.name }}</dd>
            <dt>{{ 'label.blurb'|trans }}</dt>
            <dd>{{ book.blurb }}</dd>
            <dt>{{ 'label.category'|trans }}</dt>
            <dd>{{  book.category.name }}</dd>
            <dt>{{ 'label.author'|trans }}</dt>
            <dd>{{ book.author }}</dd>
        </dl>
        <p>
            <a href="{{ url('book_edit', {id: book.id}) }}" title="{{ 'action.edit'|trans }}">
                {{ 'action.edit'|trans }}
            </a>
        </p>
            <a href="{{ url('book_delete', {id: book.id}) }}" title="{{ 'action.delete'|trans }}">
                {{ 'action.delete'|trans }}
            </a>
        </p>
        <p>
            <a href="{{ url('book_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {% include 'default/_single_alert_message.html.twig' with {
                type: 'warning',
                message: 'message.record_not_found'|trans
            } %}
        </p>
    {% endif %}
{% endblock %}